doctype html
html(lang='it')
  head
    title Ciclabili Valchiavenna
    link(rel="stylesheet", href="/stylesheets/master.css")
    
  body
    h3
      | Il corso non era tenuto ne su pug ne su jade, beccati HTML. Clicca qui: 
    p 
      a(href="http://localhost:3000/homepage")
        | HomePage
    h3 
      | Intendevo li.