/*Smart-phone*/
@media only screen and (min-width: 320px){

    body {
        background-image: linear-gradient(to bottom, #1271ec, rgb(19, 108, 224),rgb(11, 94, 202), #29ad08);
        font: 16px arial helvetica sans-serif;
    }

    #container {
        position: relative;
        margin:auto;
        width: 90%;
        float: center;
    }

    #contenuto {
        border-radius: 15px 50px 30px;
        position: relative;
        padding: 10px 20px 10px 20px;
        background: rgba(3, 101, 230, 0.75);
        width: 85%;
        float: center;
        margin-bottom: 20px;
    }

    .image-container {
        text-align: center;
    }

    .image-container img {
        width: 95%;
    }

    .mapLink{
        display: none;
    }

    #asideContainer {
        display: block;
        padding: 10px 20px 10px 20px;
        border-radius: 15px 50px 30px;
        text-align: center;
        background: rgba(37, 148, 212, 0.75);
        width: 85%;
        float: center;
    }

    .asideElem {
        border-radius: 15px 50px 30px;
        padding: 5px 10px 5px 10px;
        background: rgba(3, 101, 230, 0.75);
        margin: 12px 12px 12px 12px;
        display:block;
    }

    footer {
        border-radius: 50px 50px 15px 15px;
        position: relative;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background: rgb(41, 173, 8);
        width: 92%;
        float: center;
        height: 100px;
        display: flex;
        margin-bottom: 10px;
        padding-left: 20px;
        align-items: center;
    }

    /*for show hamburger*/
    header{ display: none; }
    /* hamburger */
    .checkbox {
        display: none;
    }
    
    #button {
        position: relative;
        background-color: white;
        height:4rem;
        width: 4rem;
        border-radius: 10%;
        position: fixed;
        top: 4vh; 
        right: 4vw; 
        z-index: 2000;
        box-shadow: 0 1rem 3rem black;
        text-align: center; 
        cursor: pointer;
    }
    
    #background {
        height: 3rem;
        width: 3rem;
        border-radius: 35%;
        position: fixed;
        top: 4.5vh; 
        right: 4.5vw; 
        background-image: radial-gradient(green, white);
        z-index: 1000;
        -webkit-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        -moz-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        -ms-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        -o-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }
    
    #nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: -60vw;
        z-index: 1500;
        opacity: 0;
        width: 0;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s;
    }
    
    #list {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }
    
    .item {
        margin: 1rem;
        font-size: 36px;
    }
    
    .link:link,
    .link:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            white 50%
        );
        background-size: 220%;
        transition: all 0.4s;
    }

    .link:hover,
    .link:active {
        color: lightgreen;
        cursor: pointer;
    }

    /* functionality */
    .checkbox:checked ~ #background {
        transform: scale(80);
    }
    .checkbox:checked ~ #nav {
        opacity: 1;
        width: 100%;
        right: 0;
    }
    
    /* styling hamb ICON */
    #icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    #icon,
    #icon::before,
    #icon::after {
        width: 3rem;
        height: 2px;
        background-color: gray;
        display: inline-block;
    }
    
    #icon::before,
    #icon::after {
        content: "";
        position: absolute;
        left: 0;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
    }
    
    #icon::before {
        top: -0.8rem;
    }
    #icon::after {
        top: 0.8rem;
    }
    
    #button:hover #icon:before {
        top: -1rem;
    }
    #button:hover #icon::after {
        top: 1rem;
    }
    
    .checkbox:checked + #button #icon {
        background-color: transparent;
    }
    
    .checkbox:checked + #button #icon::before {
        top: 0;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    .checkbox:checked + #button #icon::after {
        top: 0;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
    } 

}

/*Personal-computer*/
@media only screen and (min-width: 768px){

    body {
        background-image: url("../images/mountain2.jpg");
        background-color: #29ad08;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        position: absolute;
        font: 18px arial helvetica sans-serif;
    }

    navbar {
        border-radius: 15px 15px 50px 50px;
        position: relative;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background: rgba(41, 173, 8, 0.75);
        width: 85%;
        float: center;
        height: 100px;
        display: flex;
        margin-bottom: 20px;
        padding-left: 20px;
        align-items: center;
    }

    a {
        position: relative;
        top: 33%;
        margin: 10 10 10 10; 
    }

    .menuItem {
        width: 150px;
        padding-right: 10px;
        padding-left: 10px;
        display: block;
        height: 70%;
    }

    .menuItem:hover{
        border-radius: 5%;
        background-color: rgba(34, 112, 15, 0.75);
    }

    #container {
        position: relative;
        margin:auto;
        width: 85%;
        float: center;
    }

    #contenuto {
        border-radius: 15px 50px 30px;
        position: relative;
        padding: 10px 20px 10px 20px;
        background: rgba(3, 101, 230, 0.75);
        width: 65%;
        float: left;
        margin-bottom: 20px;
    }

    .image-container {
        text-align: center;
    }

    .image-container img {
        width: 80%;
    }

    .image{
        border: 3px solid whitesmoke;
        border-radius: 10%;
    }

    .mapLink{
        display: inline;
    }

    #asideContainer {
        border-radius: 50px 15px 50px 30px;
        text-align: center;
        background: rgba(37, 148, 212, 0.75);
        width: 25%;
        float: right;
    }

    .asideElem {
        border-radius: 50px 15px 50px 30px;
        padding: 5px 10px 5px 10px;
        background: rgba(3, 101, 230, 0.75);
        margin: 12px 12px 12px 12px;
        display:block;
    }

    footer {
        border-radius: 50px 50px 15px 15px;
        position: relative;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background: rgb(41, 173, 8);
        width: 85%;
        float: center;
        height: 100px;
        display: flex;
        margin-bottom: 10px;
        padding-left: 20px;
        align-items: center;
    }

    /*for not showing hamburger*/
    header{ display:  block; }
    #navi-toggle{ display: none; }
    #button{ display: none; }
    #icon{ display: none; }
    #background{ display: none; }
    #nav{ display: none; }
}
